$pirateBlack: #373838;
$spaceColor:#31344b;
$main-blue: #216096;
$queenBlue: #3D5F7C;
$beauBlue: #C0DCF5; // it's part of logo-bar
$lightSteelBlue: #A1B9CE; // it's a logo-bar and part of neumorphism
$greyGainsboro: #E0E0E2; // it's a background of welcome's hr
$neuAliceBlue: #DFE7F1; // part of neumorphism button

$steelBeauGradient:linear-gradient(145deg, $lightSteelBlue, $beauBlue);
$smallBtnGradient:linear-gradient(145deg, transparent, $neuAliceBlue);
$bigBtnGradient: linear-gradient(145deg, $neuAliceBlue, $lightSteelBlue);
$bigBtnHoverGradient: linear-gradient(145deg, $lightSteelBlue, $neuAliceBlue);

$neuShadow1: #8fa5b7;
$neuShadow2: #ffffff94;
$forNeuromorphismButton:#b3cee5; //based on this colour, the shadows colours has been made (not used)

.color-blue {
    color: $main-blue;
}

.color-white-shiny {
    display: inline-block;
    background: linear-gradient(45deg, hsla(186, 25%, 84%, 1) 0%, hsl(200, 90%, 86%) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
}

.color-blue-shiny {
    display: inline-block;
    background: #216096;
    background: radial-gradient($lightSteelBlue -30%, $main-blue 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
    position: relative;
    z-index: 3;
}