@import url('aos/dist/aos.css');
@import url('owl.carousel/dist/assets/owl.carousel.css');
@import 'neumorphism.scss';
// @import 'neumorphism.css';
@import 'colors.scss';
@import 'predefinied.scss';



body {
    padding: 0;
    margin: 0;
    background: $close-white;
    font-family: 'HurmeSharp', sans-serif;
}

::-webkit-scrollbar {
    width: 15px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    background-color: #4e4f50;
}

.transition-fade {
    transition: 0.4s;
    opacity: 1;
}

html.is-animating .transition-fade {
    opacity: 0;
}


.welcome {
    position: relative;
    width: 100%;
    height: 100vh;

    &::before {
        content: '';
        background: linear-gradient(45deg, #0f4c81 35%, white 100%);
        // animation: hueRotate 36s infinite alternate-reverse cubic-bezier(.91, .11, .19, .92);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0.5;
    }

    &__video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        // filter: hue-rotate(20deg);
        // animation: hueRotate 1s infinite alternate-reverse cubic-bezier(.91, .11, .19, .92);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    &__container {
        position: absolute;
        z-index: 2;
        font-weight: 700;
        color: white;
        bottom: 0;
        padding: 72px;

        hr {
            background: #E0E0E2;
            height: 2px;
            border: none;
            position: absolute;
            width: 0;
            animation: hr 1.3s 1.4s cubic-bezier(0.76, 0.01, 0.21, 1.02) forwards;
        }
    }

    &__logo {
        max-width: 100%;
        width: 500px;
        height: 100%;
        position: relative;
        z-index: 10;

        &-container {
            margin-bottom: 30px;
            position: relative;
            display: inline-flex;
            overflow: hidden;
        }

        &-bar-helper {
            position: absolute;
            bottom: 0;
            left: 0;
            background: black;
            // background: linear-gradient(45deg, #0f4c81 35%, white 100%);
            // background: linear-gradient(45deg, hsla(186, 25%, 84%, 1) 0%, hsl(200, 90%, 86%) 100%);
            // background: $main-blue;
            background: linear-gradient(145deg, #a1b9ce, #c0dcf5);
            z-index: 5;
            width: 309px;
            height: 35px;
            max-width: 100%;
            transform-origin: left;
            transform: translateX(-14px) scaleX(2);
            animation: logoBar 1.3s 0.4s cubic-bezier(0.76, 0.01, 0.21, 1) forwards // hueRotate 36s infinite alternate-reverse cubic-bezier(0.91, 0.11, 0.19, 0.92);
        }

        &-arkne,
        &-group {
            path {
                fill: white;
            }
        }

        &-group {
            transforM: matrix(1.5184, 0, 0, 1.5184, -50.064, -12.644);
            animation: logoGroup 1.3s 0.4s cubic-bezier(0.76, 0.01, 0.21, 1) forwards;
        }

        &-bar {

            display: block;
            width: 500px;
            position: absolute;
            bottom: 0;
            left: 0;
            transform-origin: left;
            transform: translateX(-14px) scaleX(2);
            // animation: logoBar 1.3s 0.4s cubic-bezier(0.76, 0.01, 0.21, 1) forwards, hueRotate 36s infinite alternate-reverse cubic-bezier(.91, .11, .19, .92);

            fill: transparent;

        }
    }

    &__heading {
        color: white;
        margin-top: 60px;
        line-height: 30px;
        font-weight: 600;
        font-size: 18px;
        opacity: 0;
        margin-bottom: 30px;
        -webkit-animation: fade 1s 1.9s forwards;
        animation: fade 1s 1.9s forwards;
        text-shadow: 0 1px 1px hsla(235, 1%, 30%, 0.72);
    }

    &__contact {
        opacity: 0;
        animation: fade 1s 1.9s forwards;
        -webkit-animation: fade 1s 2.9s forwards;
        text-shadow: 0 1px 1px hsla(235, 1%, 30%, 0.72);
    }

    &__mail {
        text-decoration: none;

        &:hover,
        &:active {
            display: inline-block;
            background: linear-gradient(45deg, hsla(186, 25%, 84%, 1) 0%, hsl(200, 90%, 86%) 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-decoration: none;
            // animation: hueRotate 36s infinite alternate-reverse cubic-bezier(.91, .11, .19, .92);
        }
    }


    &__text-gradient,
    &__mail {
        display: inline-block;
        background: linear-gradient(45deg, hsla(186, 25%, 84%, 1) 0%, hsl(200, 90%, 86%) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: none;
        // animation: hueRotate 36s infinite alternate-reverse cubic-bezier(.91, .11, .19, .92);
    }

    &__arrow {
        transition: $durationL ease;
        opacity: 0;
        border: none;
        box-shadow: none;

        &::before {
            box-shadow: none;
        }

        &:hover,
        &:active {
            transform: translateY(10px);
            border: none;
            box-shadow: none;
        }

        svg path {
            fill: white;
        }
    }
}

.about {
    min-height: 100vh;
    background: radial-gradient(#C3D1E4 0%, #DDE7F3 78.9%, #D4E0ED 100%);
    position: relative;
    overflow: hidden;
    max-height: 762px;

    &::after {
        background: radial-gradient(white 0%, transparent 100%);
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
        opacity: 0.3;
    }

    &__radial {
        background: linear-gradient(141.53deg, #FFFFFF 32.46%, #B9CCE2 65.03%);
        border-radius: 50%;
        width: 50vmin;
        height: 50vmin;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        transform: rotate(-90deg);

        &-container {
            opacity: 0.34;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            z-index: 1;
            background: linear-gradient(0deg, rgba(227, 237, 247, 0.59), rgba(227, 237, 247, 0.59));
        }

        &-1 {
            width: 85vmin;
            height: 85vmin;
            top: 40%;
            left: 4%;
        }

        &-2 {
            top: 1%;
            left: 8%;
            transform: rotate(90deg);
        }

        &-3 {
            top: -5%;
            left: 20%;
            width: 50vmin;
            height: 50vmin;
        }


        &-4 {
            left: 40%;
            top: 40%;
            width: 180vmin;
            height: 180vmin;
            transform: rotate(45deg);
        }

    }

    .container-fluid {
        position: relative;
        // overflow: hidden;
        height: 100%;
        min-height: 100vh;
        max-height: 762px;

        .row {
            min-height: 100vh;
            max-height: 762px;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        position: relative;
        z-index: 15;
    }

    &__heading,
    &__subheading {
        font-size: $fontSizeH1;
        font-weight: 700;

    }

    &__subheading {
        font-size: $fontSizeH2;
        font-weight: 600;

    }

    &__img-container {
        // height: 700px;
        // max-height: 80vh;
        top: calc(50% - 50vh);
        right: calc(-7/12 * 100% + 2*128px);
        position: absolute;
        display: block;
        width: calc(7/12 * 100% + 3*128px);
        height: 100vh;
        z-index: 4;
        padding: $space5XL;
        overflow: hidden;
        max-height: 762px;


        &::before {
            content: '';
            position: absolute;
            background-image: url('../assets/eclipseShadow.png');
            background-repeat: no-repeat;
            background-size: contain;
            bottom: calc(-96px + 7%);
            left: 60%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            width: 100%;
            height: 30%;
            z-index: 3;
        }
    }

    &__img {
        position: relative;
        z-index: 4;
        background: linear-gradient(180deg, rgba(253, 253, 253, 0.5) 0%, rgba(255, 255, 255, 0) 100%);

        background-blend-mode: soft-light, normal;
        box-shadow: -5px 1px 78px 20px rgba(42, 76, 105, .47), inset 0px 0px 0px 10px rgba(52, 52, 52, 0.32);
        border: 9px solid rgb(42, 76, 105);
        border-radius: 32px;
        width: 100%;
        object-fit: cover;
        object-position: left;
        height: 100%;
    }

    &__btn {
        width: 210px;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
}


@media (max-width:992px) {
    .welcome__container {
        padding: 42px;
    }
}

@media (min-width:1600px) {
    .welcome__container {
        padding: 128px;
    }
}