@import url('aos/dist/aos.css');
@import url('owl.carousel/dist/assets/owl.carousel.css');
@import 'neumorphism.scss';
// @import 'neumorphism.css';
@import 'colors.scss';
@import 'predefinied.scss';



body {
    padding: 0;
    margin: 0;
    background: $queenBlue;
    font-family: 'HurmeSharp', sans-serif;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    -webkit-user-modify: none;
    -moz-user-modify: none;
    -ms-user-modify: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
    width: 15px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    background-color: #4e4f50;
}

.transition-fade {
    transition: 0.4s;
    opacity: 1;
}

html.is-animating .transition-fade {
    opacity: 0;
}


.header {
    position: fixed;
    z-index: 1024;
    width: 100%;
    // display: flex;
    display: none;
    top: 16px;
    transition: 0.5s;

    .container-fluid {
        height: 52px;
        position: relative;
        background: transparent;
        border-radius: .0010px;
        transition: $durationM;

        &.scrolled {
            box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
            margin-top: 0.25rem;
            border-radius: 200px;
            background: white;
            padding: 0 0.75rem;


            .header {
                color: white;

                &__logo-img {
                    max-height: 32px;
                    margin-left: 1.5rem;
                    position: relative;
                    display: inline-flex;
                    overflow: hidden;
                }
            }
        }
    }

    &__logo {
        max-width: 100%;
        max-height: 100%;
        position: relative;
        z-index: 10;
        overflow: hidden;

        &-container {
            max-width: 100%;
            max-height: 100%;
            height: 100px;
            margin: 0;
            display: block;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }


    .nav-toggle {
        // position: fixed;
        top: 1rem;
        right: 2.5rem;
        margin-right: 1rem;
        z-index: 1024;
        display: none;
        background: none;
        border: 0;
        outline: 0;
        height: 48px;
        align-items: center;

        svg {
            color: $pirateBlack;
            transition: $bezierFastoutSlowin 0.5s;
            top: 50%;
            left: calc(50% + 1.7px);
            position: absolute;
            width: 28px;
            height: 28px;

            path {
                fill: white;
                transition: $bezierFastoutSlowin 0.5s;
            }
        }

        &__inner {
            position: relative;
        }

        &__icon--menu {
            opacity: 1;
            transform: translate(-50%, -50%);
        }

        &__icon--close {
            opacity: 0;
            transform: translate(-50%, -50%) rotate(45deg);
        }
    }


    .button-icon-only {
        align-items: center;
        justify-content: center;
        padding: 0;
    }


    // &__nav {
    //     flex-grow: 10;
    //     display: flex;
    //     align-items: center;
    //     margin-left: calc(-207px / 2);
    // }

    &__nav-list {
        display: flex;
    }

    &__nav-link {
        color: black;
        align-self: center;
        font-size: $fontSizeBodyL;
        text-decoration: none;
        position: relative;
        transition: color $durationS ease .1s;
        line-height: 1;
        padding: 0 $spaceS;
        margin: 0 $spaceS;
        border-radius: 0;
        letter-spacing: $spaceLetters;
        transition: $bezierFastoutSlowin 0.36s;

        &:active,
        &:hover {
            text-decoration: none;

            &:before {
                width: 100%;
            }
        }

        &.active {
            color: white;
        }
    }

    &__nav-left {
        position: relative;

        li {
            list-style-type: none;
            padding: .75rem;
            margin: 0;
            transition: 0.8s;

            &:hover {
                // transform: scale(1.12);
            }

            &:hover~.magic-line {
                // bottom: -1.5rem;
                // opacity: 0.7;
            }
        }

        // .magic-line {
        //     position: absolute;
        //     bottom: .25rem;
        //     left: 0;
        //     padding: 0;
        //     width: 100px;
        //     height: 4px;
        //     border-radius: 200px;
        //     background: $steelBeauGradient;
        //     transition: $durationM;
        //     opacity: 0;
        // }

        .magic-line {
            content: '';
            display: block;
            position: absolute;
            // bottom: calc(50% - 20px);
            // left: calc(50% - 20px);
            // width: 40px;
            // height: 40px;
            width: 16px;
            height: 16px;
            top: -0.75rem;
            left: calc(50% - 6px);
            border-radius: 50%;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            opacity: 0;
            padding: 0;
            // background: $spaceColor;
            background: $queenBlue;
            transition: 0.8s;
        }
    }

    &__social-link {
        background: $smallBtnGradient;
        width: 42px;
        height: 42px;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        transition: $durationM;
        box-shadow: 4px 4px 8px $neuShadow1,
            -4px -4px 8px $neuShadow2;

        &::before {
            opacity: 0;
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            background: $main-blue;
            background: $bigBtnHoverGradient;
            transition: $durationM;
            border-radius: 1rem;
            transform: translate(-50%, -50%);
        }

        svg {
            // fill: white;
            fill: $spaceColor;
            width: 30px;
            height: 20px;
            position: relative;
            z-index: 1;
        }

        &:hover {
            &::before {
                opacity: 1;
            }
        }

        &:active {
            transform: scale(0.9);
        }
    }

}

.welcome {
    position: fixed;
    z-index: 2048;
    width: 100%;
    height: 100vh;

    &::before {
        content: '';
        background: linear-gradient(45deg, #0f4c81 35%, white 100%);
        // animation: hueRotate 36s infinite alternate-reverse cubic-bezier(.91, .11, .19, .92);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0.5;
    }

    &__video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        // filter: hue-rotate(20deg);
        // animation: hueRotate 1s infinite alternate-reverse cubic-bezier(.91, .11, .19, .92);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    &__container {
        position: absolute;
        z-index: 2;
        font-weight: 700;
        color: white;
        bottom: 0;
        padding: 72px;

        hr {
            background: $neuAliceBlue;
            height: 2px;
            border: none;
            position: absolute;
            width: 0;
            animation: hr 1.3s 1.4s cubic-bezier(0.76, 0.01, 0.21, 1.02) forwards;
        }
    }

    &__logo {
        max-width: 100%;
        width: 500px;
        height: 100%;
        position: relative;
        z-index: 10;

        &-container {
            margin-bottom: 30px;
            position: relative;
            display: inline-flex;
            overflow: hidden;
        }

        &-bar-helper {
            position: absolute;
            bottom: 0;
            left: 0;
            background: black;
            background: linear-gradient(145deg, $lightSteelBlue, $beauBlue);
            z-index: 5;
            width: 309px;
            height: 35px;
            max-width: 100%;
            transform-origin: left;
            transform: translateX(-14px) scaleX(2);
            animation: logoBar 1.3s 0.4s cubic-bezier(0.76, 0.01, 0.21, 1) forwards // hueRotate 36s infinite alternate-reverse cubic-bezier(0.91, 0.11, 0.19, 0.92);
        }

        &-arkne,
        &-group {
            path {
                fill: white;
            }
        }

        &-group {
            transforM: matrix(1.5184, 0, 0, 1.5184, -50.064, -12.644);
            animation: logoGroup 1.3s 0.4s cubic-bezier(0.76, 0.01, 0.21, 1) forwards;
        }

        &-bar {

            display: block;
            width: 500px;
            position: absolute;
            bottom: 0;
            left: 0;
            transform-origin: left;
            transform: translateX(-14px) scaleX(2);
            // animation: logoBar 1.3s 0.4s cubic-bezier(0.76, 0.01, 0.21, 1) forwards, hueRotate 36s infinite alternate-reverse cubic-bezier(.91, .11, .19, .92);

            fill: transparent;

        }
    }

    &__heading {
        color: white;
        margin-top: 60px;
        line-height: 30px;
        font-weight: 600;
        font-size: 18px;
        opacity: 0;
        margin-bottom: 30px;
        -webkit-animation: fade 1s 1.9s forwards;
        animation: fade 1s 1.9s forwards;
        text-shadow: 0 1px 1px hsla(235, 1%, 30%, 0.72);
    }

    &__contact {
        opacity: 0;
        animation: fade 1s 1.9s forwards;
        -webkit-animation: fade 1s 2.9s forwards;
        text-shadow: 0 1px 1px hsla(235, 1%, 30%, 0.72);
    }

    &__mail {
        text-decoration: none;

        &:hover,
        &:active {
            display: inline-block;
            background: linear-gradient(45deg, hsla(186, 25%, 84%, 1) 0%, hsl(200, 90%, 86%) 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-decoration: none;
            // animation: hueRotate 36s infinite alternate-reverse cubic-bezier(.91, .11, .19, .92);
        }
    }


    &__text-gradient,
    &__mail {
        display: inline-block;
        background: linear-gradient(45deg, hsla(186, 25%, 84%, 1) 0%, hsl(200, 90%, 86%) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: none;
        // animation: hueRotate 36s infinite alternate-reverse cubic-bezier(.91, .11, .19, .92);
    }

    &__arrow {
        transition: $durationL ease;
        opacity: 0;
        border: none;
        box-shadow: none;
        animation: fade 1s 2.55s forwards;

        &::before {
            box-shadow: none;
        }

        &:hover,
        &:active {
            transform: translateY(10px); //important because "aos" library is overwriting
            // transition-property: auto; //important because "aos" library is overwriting

            border: none;
            box-shadow: none;
        }

        svg path {
            fill: white;
        }
    }
}

.cursor {
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    border-radius: 40px;
    opacity: 0;
    pointer-events: none;
    z-index: 999;
    transition: transform 1.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0s, width 0.4s ease 0.2s, height 0.4s ease 0.2s, opacity 1s ease 0.2s;
    border: 0px solid black;
    position: fixed;
    // background: rgba(161, 142, 218, 0.25);
    background: rgba(61, 95, 124, 0.2);
    // transition: 0.5s;
    // width: 36px;
    // height: 36px;

    &__plus,
    &__resize {
        position: absolute;
        top: calc(50% - 10px);
        left: calc(50% - 10px);
        transition: 0.5s;
        transform: scale(0);
        width: 20px;
        height: 20px;

        path {
            fill: $neuAliceBlue;
        }
    }

    &__resize {
        width: 28px;
        height: 28px;
        top: calc(50% - 13px);
        left: calc(50% - 13px);

        path {
            fill: $queenBlue;
        }
    }
}

.about {
    min-height: calc(100vh - 100px);
    background: radial-gradient(#C3D1E4 0%, #DDE7F3 78.9%, #D4E0ED 100%);
    position: relative;
    overflow: hidden;
    padding-top: 100px;

    &::after {
        background: radial-gradient(white 0%, transparent 100%);
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
        opacity: 0.3;
    }

    &__radial {
        background: linear-gradient(141.53deg, #FFFFFF 5%, $lightSteelBlue 65.03%);
        border-radius: 50%;
        width: 50vmin;
        height: 50vmin;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        transform: rotate(-90deg);

        &-container {
            opacity: 0.34;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            z-index: 1;
            background: linear-gradient(0deg, rgba(227, 237, 247, 0.59), rgba(227, 237, 247, 0.59));
        }

        &-1 {
            width: 85vmin;
            height: 85vmin;
            top: calc(100vh * 0.4);
            left: 4%;
        }

        &-2 {
            top: calc(100vh * 0.01);
            left: 8%;
            transform: rotate(90deg);
        }

        &-3 {
            top: calc(100vh * (-0.2));
            left: 20%;
            width: 50vmin;
            height: 50vmin;
        }


        &-4 {
            left: 40%;
            top: calc(100vh * 0.4);
            width: 180vmin;
            height: 180vmin;
            transform: rotate(45deg);
        }

    }

    .container-fluid {
        position: relative;
        // overflow: hidden;
        height: 100%;
        // min-height: 100vh;
        // max-height: 762px;

        .row {
            min-height: calc(100vh - 100px);
            // max-height: 762px;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        position: relative;
        z-index: 15;
    }

    &__heading,
    &__subheading {
        font-size: $fontSizeH1;
        font-weight: 700;
        max-width: 900px;

    }

    &__subheading {
        font-size: $fontSizeH2;
        font-weight: 600;

    }

    &__img-container {
        // height: 700px;
        // max-height: 80vh;
        top: calc(50% - 50vh + 60px);
        right: calc(-7/12 * 100% + 2*128px);
        position: absolute;
        display: block;
        width: calc(7/12 * 100% + 3*128px);
        height: calc(100vh - 100px);
        z-index: 4;
        padding: $space5XL;
        overflow: hidden;
        // max-height: 762px;


        &::before {
            content: '';
            position: absolute;
            background-image: url('../assets/eclipseShadow.png');
            background-repeat: no-repeat;
            background-size: contain;
            bottom: 2%;
            left: 60%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            width: 100%;
            height: 30%;
            z-index: 3;
        }
    }

    &__img {
        position: relative;
        z-index: 4;
        background: linear-gradient(180deg, rgba(253, 253, 253, 0.5) 0%, rgba(255, 255, 255, 0) 100%);

        background-blend-mode: soft-light, normal;
        box-shadow: -5px 1px 78px 20px rgba(42, 76, 105, .47), inset 0px 0px 0px 10px rgba(52, 52, 52, 0.32);
        border: 9px solid rgb(42, 76, 105);
        border-radius: 32px;
        width: 100%;
        object-fit: cover;
        object-position: left bottom;
        height: 100%;
    }

    &__btn {
        width: 210px;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
}

.work {
    color: white;
    position: relative;
    z-index: 3;

    &__carousel {
        margin-bottom: 1rem;
    }

    &__company-name {
        font-weight: 600;
        font-size: $fontSizeH3;
        letter-spacing: 1px;
        line-height: 1.2;
        margin: 0 34px -1.5rem 34px;
        color: $queenBlue;
    }

    &__item {
        position: relative;
        margin-top: 0.5rem;
        width: 780px;
        min-height: 400px;
        transform-style: preserve-3d;

        &-content {
            position: relative;
            box-shadow: 14px 14px 28px $neuShadow1,
                -14px -14px 28px $neuShadow2;
            margin: 34px;
            border-radius: 1rem;
        }

        &-content-inner {
            padding: 58px 84px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: 0.5s ease;
            border-radius: 1rem;
            height: 100%;
        }

        &-background {
            border-radius: 1rem;
        }

        &-categories {
            text-transform: uppercase;
            font-weight: 600;
        }

        &-title {
            font-weight: bold;
            font-size: $fontSizeH2;
            line-height: 1.3;
            color: white;
        }
    }

    &__btn {
        // box-shadow: 7px 7px 12px #2b2d41, -7px -7px 12px #373b55;
        box-shadow: 6px 6px 12px #35536cdd,
            -6px -6px 12px #456b8cdd;
        padding: 1rem 2rem;
        margin: 1rem 0;

        &:hover {
            box-shadow: 6px 6px 12px #35536cdd,
                -6px -6px 12px #456b8cdd;

            &::before {
                box-shadow: 4px 4px 6px #8fa5b75e, -6px -6px 12px #ffffff4f
            }
        }
    }

    .owl-item.center {
        .work {
            &__item {
                &-content-inner {
                    opacity: 1;
                    background: #3d5e7bb3;
                    background: linear-gradient(145deg, #416685b3, #375670b3);
                    backdrop-filter: blur(2px);
                }
            }
        }
    }
}

@media (max-width:992px) {
    .welcome__container {
        padding: 42px;
    }
}

@media (min-width:1600px) {
    .welcome__container {
        padding: 128px;
    }
}